header {
    margin-top: 80px;
}

.headerViewCalc {
    margin-bottom: 30px;
}

.cardhover:hover {
    border: 5px solid #2185D0;
}

.custokw, .custokwFatura {
    padding-top: 30px;
    text-align: center;
}

#localizacao, #tipoLocal, #consumo {
    height: 380px;
    padding-top: 30px;
}

.ui.big.form {
    padding-top: 30px;
}

#consumo {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

