body {
    height: 650px;
}

header:first-child {
    margin-top: 10px;
}

.headerViewCalc {
    margin-bottom: 30px;
}

#viewCalculadora {
    height: 380px;
}

.view {
    height: 270px;
}

.btn-left-right button {
    width: 225px;
}

#tipoLocal {
    margin-top: 0;
    padding-top: 5.5%;
}

#consumo {
    margin-top: 0;
}

.cardhover:hover {
    border: 5px solid #2185D0;
}

.custokw {
    padding-left: 35%;
}