header {
    margin-top: 20px;
}

.scrolling.content{
    height: 360px;
}

.texto-modal{
    position: absolute;
    max-width: 326px;
}

.like-icon{
    position: absolute;
    top: 318px;
    right: 360px;
    text-align: -webkit-right;
}

.img-conta-energia {
    position: absolute;
    right: 50px;
    top: 69px;
}

.big.primary.button {
    font-size: 20px;
}

#find-media {
  font-size: 14px;
}