# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
.phpintel/
composer.lock
vendor/
php/
luxenergiasolar.com.br/web/calculadora-fotovoltaica/css/
luxenergiasolar.com.br/web/calculadora-fotovoltaica/images/
luxenergiasolar.com.br/web/calculadora-fotovoltaica/js/
/js/app.js
